#container{
    width: 40vw;
    height: auto;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    align-content: center;
    
    
}

div.row{
    
}

img.galleryImage{
    height: 10vw;
    border: black solid;
    margin: .4vw;

}

h1{
    text-align: center;
}