h1{
    text-align: center;
}

div.rectangle{
    width: 70vw;
    height: 3vw;
    border: solid black;
    margin: 0 auto;
}

div.LoadingBar{
    width: 0;
    height: 3vw;
    padding-right: 0;
    background-color: red;
    animation-name: load;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes load{
    0%{
        background-color: red;
    }
    50%{
        background-color: yellow;
    }
    100%{
        width:70vw;
        background-color: green;;
    }
}