*{
    padding: 0;
    margin: 0;
}

body{
    color: pink;
}

#navBar{
    width: 99.5vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    border-radius: 5pt;
    align-items: center;
}

#navBarMenu{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap:  wrap;
}

li.navBarElement{
    background-color: black;
    color: pink;
    margin: .5vw;
    height: 20px;
    weight: auto;
    padding: 5px;
}