h1{
    text-align: center;
}

img.zooAnimal{
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    position: absolute;
    height: auto;
    width: 15vw;
    right: 25%;
    top: 0%;
    animation-name: moveAndBounce;
}

img.two{
    width: 20vw;
    right: 50%;
    top: 30%;
    animation-name: moveAndBounceTwo;
}

img.three{
    width: 5vw;
    right: 80%;
    top: 80%;
    animation-name: moveAndBounceThree;
}

img.four{
    width: 10vw;
    right: 0%;
    top: 80%;
    animation-name: moveAndBounceFour;
}

@keyframes moveAndBounce{
    25%{
        right: 0%; 
        top: 50%;
        transform: rotate(3600deg);
    }
    50%{
        top: 80%;
        right: 25%;
    }
    75%{
        right: 80%;
        top: 25%;
    }
    100%{
        right: 25%;
        top: 0%;
    }
}

@keyframes moveAndBounceTwo{
    25%{
        right: 80%; 
        top: 80%;
    }
    50%{
        top: 50%;
        right: 75%;
        transform: rotate(720deg);
    }
    75%{
        right: 10%;
        top: 70%;
    }
    100%{
        right: 50%;
        top: 30%;
    }
}

@keyframes moveAndBounceThree{
    25%{
        right: 47%; 
        top: 0%;
    }
    50%{
        top: 30%;
        right: 15%;
    }
    75%{
        right: 70%;
        top: 16%;
        transform: rotate(1800deg);
    }
    100%{
        right: 0%;
        top: 25%;
    }
}

@keyframes moveAndBounceFour{
    25%{
        right: 60%; 
        top: 50%;
    }
    50%{
        top: 80%;
        right: 80%;
    }
    75%{
        right: 30%;
        top: 40%;
    }
    100%{
        right: 35%;
        top: 50%;
        transform: rotate(1080deg);
    }
}