*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}

#navBar{
    width: 99.5vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #303030;
    border-radius: 5pt;
    align-items: center;
}

#navBarMenu{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li.navBarElement{
    padding: calc(5px + .1vw);
}

a.navBarContent{
    color: #d6d6c2;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding: calc(5px + .1vw);
    padding: 5px;
}

a.navBarContent:hover{
    text-decoration: underline;
    color: white;
}

h1.siteTitle{
    color: white;
    font-size: calc(20px + 1vw);
    font-family: 'Squada One', cursive;
    padding: 5px;
    text-decoration: none;

}


.gridContainer{
    display: grid;
    grid-template-columns: 1rem 1fr 1fr 1fr 1fr 1rem;
    grid-template-rows: 1rem 1fr 1fr 1rem;
    grid-gap: 1rem;
}

.circle{
    border-radius: 5rem;
}

.aboutPicture1{
    grid-column-start: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    width: 20rem;
    height: auto;
    border-radius: .5rem;
}

.kkLogo{
    width: 10rem;
    margin: 1rem;
}

.aboutMe{
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-end: 3;
    text-indent: 2rem;
    background-color: #cccc;
    padding: 1rem;
    border-radius: 1rem;
}

.socials{
    grid-row-start: 3;
    grid-column-start: 2;
    background-color: #cccc;
    padding: 1rem;
    border-radius: 1rem;
}


.skillsList{
    list-style: none;
}


.faceShot{
    grid-row-start: 2;
    grid-column-start: 2;
    width: 16rem;
    height: auto;
    border-radius: .5rem;
}

.ArtsyPic{
    grid-row-start: 3;
    grid-column-start: 4;
    width: 20rem;
    height: auto;
    border-radius: .5rem;
}

.favoriteList{
    list-style: none;
}

.hobbies{
    background-color: #cccc;
    padding: 1rem;
    border-radius: 1rem;
    grid-column-start: 3;
    grid-row-start: 3;
}

img.conceptArt{
    height: 200px;
    width: auto;
    padding: 20px;
}

h1.pageTitle{
    text-align: center;
}

div.container{
    width: 40vw;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    border-radius: 5pt;
    align-items: center;
}

div.row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.imgCard{
    background-color: #cccc;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    
}

.imgCard:hover{
    transform: translateY(-6px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.containerContent{
    height: 25vw;
    width: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

p.imageBottomText{
    text-align: center;
    display: inline-block;
    max-width: 40rem;
}


.width880{
    width: 880px;
}

.width

#contactInfo
{
    float: right;
    color: #757575;
}

#resume{
    float: right;
    color: #2e2e2e;
    text-decoration: none;
}

#resume:hover{
    color:#5c5c5c;
    text-decoration: underline;
}

#homeLink
{
    text-decoration: none;
}

.header{
    text-align: center;
}

