div.container{
    width: 40vw;
    height: 300px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5pt;
    align-content: center;
    
}

div.row{
    display: flex;
    justify-content: space-evenly;
    
    border: 2px solid greenyellow;
    width: 100%;
}

div.box{
    display: flex;
    margin: 10px 0;
    border-radius: 5pt;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 2px;
}

div.pink{
    background-color: pink;
}

div.purple{
    background-color: rebeccapurple;
    color: white;
}

div.blue{
    background-color: lightblue;
}

div.gold{
    background-color: goldenrod;
}