@media only screen
    and(min-device-width: 320px)
    and(max-device-width: 667px)
    and(-webkit-min-device-pixel-ratio: 2){
    

    *{
        padding: 0;
        margin: 0;
    }

    body{
        color: black;
        background-color: goldenrod;
    }

    h1{
        text-align: center;
    }
}